<section class="row">
  <div class="col-12 text-center">
    <h2>{{title}}</h2>
  </div>
</section>

<section class="row">

  <!-- hero list -->
  <!-- <div class="heroes | col-md-6 mx-auto">

    <p><strong>List of Heroes</strong></p>

    <li class="d-block my-2"
      [class.selected]="hero === selectedHero"
      *ngFor="let hero of heroes; let i=index"
      (click)="onSelect(hero)">
      <dl class="d-flex justify-content-start">
        <dt class="badge | d-flex px-3">
          <span class="align-self-center">{{hero.id}}</span>
        </dt>
        <dd class="d-flex w-100 justify-content-between p-1">
          <span class="w-75">{{hero.name | uppercase}}</span>
          <span class="w-25 btn btn-info">{{hero.universe}}</span>
        </dd>
      </dl>
    </li>

  </div> -->


  <div class="col-md-6 mx-auto">
    <!-- hero detail -->
    <!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
    <!-- messages -->
    <app-messages></app-messages>
  </div>

</section>
