<section class="row">
  <div class="col-12 text-center">
    <h2>{{title}}</h2>
  </div>
</section>

<section class="row">

  <!-- heroes TOP -->
  <div class="heroes | col-md-7 mx-auto">

    <p><strong>TOP Heroes</strong></p>

    <ul class="d-flex justify-content-around">
      <li class="p-2"
        *ngFor="let hero of heroes; let i=index">
        <span>{{hero.name | uppercase}}</span>
      </li>
    </ul>

  </div>


  <div class="col-md-5 mx-auto">
    <!-- messages -->
    <app-messages></app-messages>
  </div>

</section>
