/* DashboardComponent's private CSS styles */
.heroes {
  list-style-type: none;

  li {
    cursor: pointer;
    position: relative;


    a{
      text-decoration: none;
      border-radius: 4px;
      font-size: 1rem;
      color: white;
      background-color:#405061;
      &:hover {
        color: #2c3a41;
        background-color: #e6e6e6;
      }
    }
  }

}
